.parent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 30px;
}

.col{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.col img{
    width: 50px;
    opacity: 50%;
    cursor: pointer;
}

.col img:hover{
    opacity: 1;
    transition-duration: 0.3s;
}

.col .active{
    opacity: 1;
}

.main img{
    height: 300px;
    width: 235.5px;
    transition: transform 500ms ease-in-out;
}
.main img:hover{
    transform: scale(1.5);
}
@media (max-width:378px){
    body{
        font-size: small;
    }
}


body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: #ddaf61;
}